// colors
$color-main: #FFFFFF;
$color-second: #000000;

$color-gray: #666666;

$color-bg: #F2F2F2 ;
$color-bg-second: #FFF ;

$color-primary: #1698D9;
$color-hover: #2EA8E6;

$color-selected: #D91667;
$color-selected-hover: #E52E7A;
$color-selected-hover-text: #E62E7A;

$color-disabled: #B3B3B3;


// screen
$screen-default: 1440px;
$screen-laptop: 1280px;
$screen-tablet: 768px;
$screen-mobile: 425px;


// font size
$fontsz-main: 1rem;
$fontsz-main-small: 0.75rem;
$fontsz-title: 2.25rem;
$fontsz-title-small: 1.675rem;
$fontsz-card-title: 3rem;
$fontsz-card-title-small: 2.25rem;
$fontsz-subtitle: 2rem;
$fontsz-subtitle-small: 1.5rem;
$fontsz-weight: 2.6rem;
$fontsz-weight-small: 1.95rem;

// fonts

$font-main: 'Trebuchet MS', sans-serif;
$font-second: 'Exo', sans-serif;